.adversity-container {
  position: relative;
  width: calc(100vw - 175px);
  margin-top: 180px;
  padding: 0px 0px 0px 175px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.adversity-lines-background {
  position: absolute;
  left: 76%;
  top: -12.5%;
  width: 290px;
  height: 150px;
  background-image: url("../../images/adversity/lines.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.adversity-background {
  width: 80%;
  height: 60vh;
  background-image: url("../../images/adversity/picture.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.adversity-text {
  position: absolute;
  left: 10%;
  top: 30%;
  font-size: 65px;
  font-weight: bold;
}
.adversity-underline {
  position: absolute;
  left: 10%;
  top: 85%;
  width: 610px;
  height: 20px;
  background-color: black;
}
