header {
  min-height: 240px;
  max-height: 2160px;
  height: 100vh;
  background-image: url("../../images/header/first_image.png"); //here i define url for first config
}
.darkening {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}
