.footer-container {
  position: relative;
  margin-top: 180px;
  padding: 0px 175px 0px 175px;
  width: calc(100% - 175px * 2);
  height: 50vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-image {
  width: 290px;
  height: 68px;
  position: absolute;
  top: -6.75%;
  right: 175px;
  z-index: 2;
}
.footer-title {
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-main {
  display: flex;
  gap: 15%;
}
.footer-footer {
  display: flex;
  justify-content: space-between;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
}
.footer-contact {
  font-size: 16px;
  font-weight: bold;
}
