@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  min-width: 320px;
  max-width: 3840px;
  width: 100vw;
  height: 700vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
