@import "../../../colors.scss";

.navbar-container {
  width: calc(100% - 175px * 2);
  margin: 0px 175px;
  margin-top: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.navbar-logo {
  width: 20%;
  color: $color-white;
  font-size: 48px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
}
.navbar-list-and-icons {
  width: 80%;
  height: 39.5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.links-container {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link {
  height: 100%;
  text-decoration: none;
  font-size: 16px;
  color: $color-white;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.link:visited {
  color: $color-white;
}
.link:active {
  color: $color-white;
}
.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $color-white;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
.nav-icons-container {
  display: flex;
  gap: 23px;
  cursor: pointer;
}
