@import "../../colors.scss";
.benefits-container {
  margin-top: 140px;
  padding: 0px 175px 0px 175px;
  width: calc(100% - 175px * 2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.items-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.under-line {
  margin-top: 40px;
  width: 130px;
  background-color: black;
  height: 8px;
}
.benefit-item-container-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
}

.benefit-item {
  width: 300px;
  height: 20%;
  font-size: 28px;
  display: flex;
  align-items: flex-end;
}
.text-title {
  width: 300px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.25;
}
.benefit-button {
  width: 380px;
  height: 78px;
  background-color: black;
  font-size: 18px;
  margin-top: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.benefit-button-text {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefit-arrow-button {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
