.title-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 13px;
}
.title {
  font-size: 65px;
  font-weight: bold;
  margin: 0;
}
.title-content {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 29px;
}
